.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-container {
  background-color: #f8f9fa;
  padding: 20px;
}

.signed-in-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* width: 300px; */
}

.container-main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

.plus-icon {
  color: gray;
  font-size: 1.5rem;
}

.bordered {
  border: 1px solid #ccc;
  padding: 4px 16px;
  border-radius: 8px;
}

.bold-text {
  font-weight: bold;
}

.d-flex.align-items-center.justify-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-light-green {
  background-color: lightgreen;
}

.product-card {
  margin-bottom: 20px;
}

.product-card:hover {
  margin-bottom: 20px;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-overlay:hover {
  opacity: 1;
}

.add-to-cart-button {
  color: white;
  background-color: #007bff;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.product-price {
  margin-bottom: 5px;
  color: #333; /* Adjust the desired text color for the price */
}

.product-description {
  margin-bottom: 10px;
  color: #666; /* Adjust the desired text color for the description */
}

.card-title {
  color: #333; /* Adjust the desired text color for the title */
}

.bottom-alert {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  z-index: 1000;
  width: 300px;
}

.bottom-alert-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.order-details {
  background-color: #f0f8ff;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-details h3 {
  margin-bottom: 10px;
}

.order-details p {
  margin-bottom: 20px;
}

.order-details .btn {
  width: 100%;
  margin-bottom: 10px;
}

.item-image {
  max-width: 100px;
  max-height: 100px;
}

.empty-cart-text {
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart-container {
  height: 50vh;
}

.empty-cart-text {
  margin-bottom: 20px;
}
